body{
    background-color: #011627;
    color: white;
    text-align: center;
    border: 30px solid #2EC486;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-top: 0px;
    margin: 0px;
}

p{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

form{
    font-size: 1.5em;
    margin-bottom: 10px;
}

#sign_up{
    background-color: orange;
    border-radius: 20px;
    height: 50px;
    width: 150px;
    margin-top: 5px;
}